.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: rgb(97, 160, 197);
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.App-logo {
  display: flex;
  height: 90px;
  padding: 10px;
  cursor: pointer;
}

.name {
  display: flex;
  padding: 5px;
  float: left;
  font-size: 13px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

header a {
  color: #000;
  ;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

nav {
  display: flex;
  align-items: center;
}

header a:hover {
  background-color: #524691;
  color: #212121;
}


body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: rgb(151, 215, 242);
}

.table-bordered {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
}

caption {
  width: 100%;
}

.line-data {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: rgb(35, 164, 164);
  justify-content: space-between;
  align-content: center;
}

.Name-food {
  display: block;
  background-color: rgb(100, 237, 237);
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

.Price {
  display: block;
  background-color: rgb(159, 239, 239);
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}

.Picture {
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 450px) {
  .container {
    flex-wrap: wrap;
  }

  .Picture {
    position: relative;
    width: 90%;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .block {
    width: 30%;
    font-size: 90%;
  }
}