.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #8ac3ce;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  background-color: rgb(151, 215, 242);
}

.table {display: flex;
  justify-content: center;
}