.App {
  text-align: center;
}


.App-header {display: block;
  background-color: #89afd7;
  height: 20%;
  text-align: center;
  color: white;
}

body {font-family: 'Courier New', Courier, monospace;
  background-color: rgb(151, 215, 242);
}

.container {display: table;
justify-content: center;
width: 100%;}
.line-main {height: 50px;}
td {width: 10%;}
.table-bordered {table-layout: fixed;
  width: 100%;
  display: block;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
}